<link rel="icon" href="{{ url_for('static', filename='images/rady-logo-icon.png', v='3') }}" type="image/png" sizes="64x64">
<link rel="icon" href="{{ url_for('static', filename='images/rady-logo-icon.svg', v='3') }}" type="image/svg+xml" sizes="any">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/rady-logo-icon.png', v='3') }}" type="image/png">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/rady-apple-touch-icon.png', v='3') }}" sizes="180x180">
