<!doctype html>
<html>
  <body>
    <h1>Login</h1>

    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST">
      <input type="hidden" name="next" value="{{ next }}">

      <p>Email<br>
        <input name="email" type="email" required style="width: 300px;">
      </p>

      <p>Wachtwoord<br>
        <input name="password" type="password" required style="width: 300px;">
      </p>

      <button type="submit">Inloggen</button>
    </form>
  </body>
</html>